<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= title %></h1>
    <nav>
        <ul>
            <li><a href="/lyrics/ok_computer">OK Computer Lyrics</a></li>
            <li><a href="/lyrics/kid_a">Kid A Lyrics</a></li>
            <li><a href="/lyrics/amnasiac">Amnasiac Lyrics</li>
            <li><a href="/lyrics/hail_to_the_thief">Hail to The Thief </li>
            <li><a href="/musicData/try_it_once"> Try It</a> </li>        
        </ul>
    </nav>
</body>
</html>